body{
  text-align: center;
  margin: 0;
}

.nvbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4em;
  font-size: 16px;
  padding-bottom: 40px;
}
/* nvbar smallscreen */
@media only screen and (max-width: 600px) {
  .nvbar{
    font-size: 1em;
  }
  .nvbar img{
    width: 150px;
  }
}

 .btname1{
   color: hsl(322.2, 100%, 66.1%);
   border: 1px solid hsl(322, 100%, 66%);
   border-radius: 100px;
   padding: 0.5rem 1.5rem;

 }
.btname1 a{
  text-decoration: none;
}

.btname1:hover{
  background: hsl(322.2, 100%, 66.1%);
}

 .topheader{
   margin: 0 auto 0.5em;
   font-size: 3.5rem;
   max-width: 80rem;
   font-weight: 700;
 }
 /* small screen */
 @media only screen and (max-width: 600px) {
  .topheader{
    font-size:2.5rem;
    margin:0.5em 20px;
  }
 }

 .topparagrap{
   margin:0 auto 80px;
   font-size: 1.5em;
   max-width: 45rem;
 }
 @media only screen and (max-width: 600px) {
 .topparagrap{
   font-size: 1.3rem;
   margin:0 20px 80px;
   /* margin:0.5em 20px; */
 }
}
/* ************************************************ */
 .getstart a{
   background-color:hsl(322, 100%, 66%);
   border-radius: 100px;
   padding:1.5rem 80px;
   /* text-align: center; */
   margin: 0 auto 1.5em;
   color: white;
   text-decoration: none;
   font-size: 1.5em;
   font-weight: 700;
 }
@media only screen and (max-width: 600px) {
  .getstart a{
    padding:0.7rem 40px;
    font-size: 1em;
  }
}

/* ****************************************************************** */

 /* .getstart{
   text-align:center;
 } */

 /* middle */
 .midle >img{
  width: 100%;
 }

 .midle{
   margin: 10%;
   margin-bottom: -1em;
 }

 /* commuitity */
 .communitdiv{
   display: flex;
   justify-content: space-between;
   font-size: 5em;
   font-weight: 800;
   text-align: left;
 }
@media only screen and (max-width: 600px) {
.communitdiv{
  display: block;
  /* margin-left: 140px; */
}

.message{
margin-left: 30%;
}
.communitity::before,.message::before{
    height: 50px;
}
.communitity::after{
    font-size: 1rem;
}
}


.communitdiv .communitity{
  margin-left: 30%;
}
.communitdiv .message{
  margin-right: 30%;
}

.message::before,
.communitity::before{
  display:block;
  /* margin-bottom: -1em; */
}

.message::before{
  content: url("../images/icon-messages.svg");
}

.communitity::before{
  content: url("../images/icon-communities.svg");
}

.message::after{
  content:"Message Send";

}
.communitity::after{
  content:"Communities Formed";

}

.communitity::after,
.message::after{
  display: block;
  font-size:2rem;
  font-weight:normal;
}

/* ************************************************* */
.middle2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-align: left;
  margin-bottom: 200px;
  grid-gap: 4rem;
  margin-left: 10%;
  margin-right: 10%
}
@media only screen and (max-width: 600px) {
  .middle2{
  grid-template-columns: 1fr;
  }
  .middle2 img {
    width: 100%;
    order:none;
}
}
@media only screen and (min-width: 600px) {
.middle2 img{
  order: 2;
  height: 400px;
}
}
/* .middle2 p,.middle2 h{
  text-align: left;
} */
.middle2::before{
  /* content: ; */
}

.middle3{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-align: left;
  margin-bottom: 200px;
  grid-gap: 4rem;
  margin-left: 10%;
  margin-right: 10%
}
@media only screen and (max-width: 600px) {
  .middle3{
  grid-template-columns: 1fr;
  }
  .middle3 img {
    width: 100%;
    order:none;
}
}
@media only screen and (min-width: 600px) {
.middle3 img{
  /* order: 1; */
  height: 400px;
}
}

.middle4{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-align: left;
  margin-bottom: 200px;
  grid-gap: 4rem;
  margin-left: 10%;
  margin-right: 10%
}


@media only screen and (max-width: 600px) {
  .middle4{
  grid-template-columns: 1fr;
  }
  .middle4 img {
    width: 100%;
    order:none;
}
}
  @media only screen and (min-width: 600px) {
  .middle4 img{
    order: 2;
    height: 400px;
  }
  }
/* ************************************* */
.getstart2{
  margin-bottom: 40px;
}

.footer{
  background-color: #00252E;
  margin-right: auto;
  margin: 0;
}
.attribution{
  border-top-color: white;
}
.ft-2{
  background-color: #00252E;
  margin-top:1px;
}
.footer >img{
  width: 100%;
}
.footer-sell{
  /* background-color: #00252E; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  color: white;
  height: 300px;
  margin:20px;
  margin-bottom: 0px;
}

@media only screen and (max-width: 600px) {
.footer-sell{
  grid-template-columns: 1fr;
  height: 600px;
}
.footer-sell input{
  margin-bottom: 20px;
}
.footer .cntact{
  order:2;
}
}
svg{
  height: 50px;
  fill:white;
}
svg:hover{
  fill:red;
}

.footer .newsletter{
  order:2;
  margin-left: 10%;
  margin-right: 10%;
}
.subscribe a{
  background-color:hsl(322, 100%, 66%);
  padding:0.5rem 50px;
  border-radius: 5px;
  /* text-align: center; */
  margin: 0 auto 1.5em;
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 700;
}
.footer .cntact{
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}

.cntact li{
  display: flex;
}
.cntact a{
  order: 2;
  margin-left: 20px;
}
.phone{
  margin-bottom: 20px;
}
.cntact ul{
  padding-left: 0px;
}

.socialmedia{
  margin-top: 40px;
}
